:root {
	--background-color: #121212;
	--foreground-color: #f0f0f0;
	--primary-color: rgb(250, 146, 0);
	--primary-hover-color: rgb(240, 116, 0);
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.6rem;
	text-align: center;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3.4rem;
}
h2 {
	font-size: 2.8rem;
	text-decoration: underline;
}
h3 {
	font-size: 2.2rem;
}
hr {
	width: 90%;
	height: 0.25vmax;
	background-color: var(--foreground-color);
	border: none;
}