:root {
	--background-color: rgb(12 12 12);
	--foreground-color: rgb(240 240 240);
	--primary-color: rgb(250 146 0);
	--primary-hover-color: rgb(240 116 0);

	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: "Open Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 1.8rem;
	text-align: center;
}
a {
	color: var(--primary-color);
	transition-duration: 400ms;
	text-decoration: none;
}
a:hover {
	background-color: var(--primary-color);
	color: var(--foreground-color);
	text-decoration: underline;
}
.image-link:hover {
	background-color: unset;
	color: unset;
	text-decoration: unset;
}
nav {
	display: flex;
	position: sticky;
	top: 0;
	background-color: var(--primary-color);
}
/* stylelint-disable-next-line no-descending-specificity */
nav a {
	display: inline-block;
	margin: 0;
	padding: 1.2rem 2rem;
	background-color: var(--primary-color);
	color: var(--foreground-color);
	font-family: Montserrat, "Arial Black", Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 400ms;
}
/* stylelint-disable-next-line no-descending-specificity */
nav a:hover {
	cursor: pointer;
	background-color: white;
	color: var(--primary-color);
}
header {
	padding: 40vh 0;
	background-image: linear-gradient(to bottom, rgb(100 140 255), rgb(0 0 155));
}
h1, h2, h3 {
	font-family: Montserrat, "Gill Sans MT", "Arial Black", Arial, sans-serif;
}
h1 {
	margin: 0;
	padding: 1rem 0;
	background-color: var(--background-color);
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
}
.small-text {
	font-size: 0.45em;
}
h2 {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
}
h3 {
	font-size: 2.34rem;
}
section {
	padding: 2.5rem;
}
#portfolio {
	background-color: rgb(12 12 32);
}
#about {
	background-color: rgb(32 12 12);
}
.project-container {
	margin: 2rem 0;
	padding: 2rem;
	border-bottom: var(--foreground-color) solid 0.2rem;
}
.project-icon {
	width: 20rem;
	height: 20rem;
	margin: 2rem;
	box-shadow: 0 0 2rem 1rem black;
}
